{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un But</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Valider</button>
    {{ form_end(form) }}

    <a href="{{ path('app_matche_show', {'id': matche.id}) }}">Retour</a>
{% endblock %}
